:root {
    --my-green: #DAFF01;
    --my-purple: #9353FF;
}

.my-green {
    color: var(--my-green);
}

.bg-my-purple {
    background-color: var(--my-purple);
}

.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}
